In [4]:
import pandas as pd

In [9]:
lpr = pd.read_excel('lpr1820-13.xls')
lpr.set_index('Year', inplace=True)
del lpr.index.name
lpr.to_csv('../../Data/lpr.csv')

In [8]:
lpr.head()

      Obtained LPR
1820          8385
1821          9127
1822          6911
1823          6354
1824          7912

In [33]:
lpr_reg = pd.read_excel('lpr_reg1820-14.xls')
lpr_reg.head()
lpr_reg.set_index('Country', inplace=True)
del lpr_reg.index.name
lpr_reg = lpr_reg.transpose()
lpr_reg.to_csv('../lpr_reg.csv')

In [32]:
lpr_reg

,Total,Europe,Austria-Hungary,Austria,Hungary,Belgium,Bulgaria,Czechoslovakia,Denmark,Finland,...,Ethiopia,Liberia,Morocco,South Africa,Other Africa,Oceania,Australia,New Zealand,Other Oceania,Not Specified
1820 to 1829,128502,99618,0,0,0,28,0,0,173,0,...,0,1,0,0,18,2,2,0,0,19173
1830 to 1839,538381,422853,0,0,0,20,0,0,927,0,...,0,8,4,0,54,1,1,0,0,83495
1840 to 1849,1427337,1369423,0,0,0,3996,0,0,671,0,...,0,5,1,0,61,3,2,0,1,7196
1850 to 1859,2814554,2622617,0,0,0,5765,0,0,3227,0,...,0,7,0,0,92,110,104,2,4,71442
1860 to 1869,2081261,1880389,3375,2700,483,5785,0,0,13553,3,...,0,43,0,79,328,107,96,6,5,15472
1870 to 1879,2742137,2252050,60127,54529,5598,6991,0,0,29278,286,...,0,52,15,48,297,9094,8933,39,122,592
1880 to 1889,5248568,4638684,314787,204805,109982,18738,0,0,85342,9617,...,0,21,12,23,567,7341,7250,21,70,778
1890 to 1899,3694294,3576411,534059,268218,203350,19642,52,0,56671,36719,...,0,9,9,9,354,3279,3098,12,169,14112
1900 to 1909,8202388,7572569,2001376,532416,685567,37429,34651,0,61227,0,...,0,0,0,0,6326,11677,11191,0,486,33493
1910 to 1919,6347380,4985411,1154727,589174,565553,32574,27180,0,45830,0,...,0,0,0,0,8867,12339,11280,0,1059,488
1920 to 1929,4295510,2560340,60891,31392,29499,21511,2824,101182,34406,16922,...,0,0,0,0,5299,9860,8404,935,521,930
1930 to 1939,699375,444404,13902,6678,7224,4013,1062,17757,3470,2438,...,10,35,110,312,872,3240,2260,790,190,0
1940 to 1949,856608,472524,13677,8496,5181,12473,449,8475,4549,2230,...,28,37,1463,1022,2557,14262,11201,2351,710,135
1950 to 1959,2499268,1404973,113015,81354,31661,18885,97,1624,10918,4923,...,302,289,3293,2278,4858,11319,8275,1799,1245,12472
1960 to 1969,3213749,1133443,27590,17571,10019,9647,598,2758,9797,4310,...,804,841,2880,4360,9314,23659,14986,3775,4898,119
1970 to 1979,4248203,826327,20387,14239,6148,5413,1011,5654,4405,2829,...,2588,2391,1967,10002,30914,39983,18708,5018,16257,326
1980 to 1989,6244379,669694,20437,15374,5063,7028,1124,5678,4847,2569,...,12927,6420,3471,15505,76920,41432,16901,6129,18402,305406
1990 to 1999,9775398,1349219,27529,18234,9295,7077,16948,8970,6189,3970,...,40097,13587,15768,21964,210390,56800,24288,8600,23912,25928
2000 to 2009,10299430,1349609,33929,21151,12778,8157,40003,18691,6049,3970,...,87207,23316,40844,32221,494582,65793,32728,12495,20570,211930
2010,1042625,95429,4325,3319,1006,732,2465,1510,545,414,...,13853,2924,4847,2705,64095,5946,3077,1046,1823,5814
2011,1062040,90712,4703,3654,1049,700,2549,1374,473,398,...,13985,3117,4249,2754,64228,5825,3062,1006,1757,6217
2012,1031631,86956,3208,2199,1009,698,2322,1316,492,373,...,15400,3451,3534,2960,68168,5573,3146,980,1447,9265
2013,990553,91095,2061,1053,1008,803,2720,1258,546,360,...,13484,3036,3202,2693,61455,6061,3529,1027,1505,10127