In [1]:
import pandas as pd

In [63]:
nat = pd.read_excel('table20_5.xls', index_col=[0])
del nat.index.name
nat.head()

,Petitions filed,Total naturalized,Civilians naturalized,Military naturalized,Unreported naturalized,Petitions denied
1907,21113,7941,7941,NaN,0,250
1908,44032,25975,25975,NaN,0,3330
1909,43141,38374,38374,NaN,0,6341
1910,55750,39448,39448,NaN,0,7781
1911,74740,56683,56683,NaN,0,9017

In [6]:
nat.to_csv('../../Data/naturalization.csv')

In [55]:
nate = pd.read_excel('Table32_0.xls', index_col=[0])
natl = pd.read_excel('table21d_5.xls', index_Col=[0])

In [56]:
natl

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Total,537151,604280,702589,660477,1046539,743715,619913,694193,757434,779929
Africa,34531,38830,50397,41652,54418,60383,64022,69738,74775,71872
Asia,224072,243514,263516,243783,330361,276375,251598,249940,257035,275700
Europe,83961,91745,101125,81788,108688,90214,78011,82209,82714,80333
North America,151008,180525,223034,241136,462312,250209,163836,217750,261673,271807
Oceania,3551,3898,3657,3342,4781,3928,3646,3734,3886,3849
South America,38670,44498,59980,48128,84845,61666,58474,70485,76992,76167
Afghanistan,1323,1464,2018,2013,2650,2588,2230,1998,1758,2074
Albania,3324,3830,3964,2786,2972,3483,5088,4267,3615,3538
Algeria,616,722,825,578,894,1024,808,773,891,841
American Samoa,137,294,247,161,178,265,232,205,180,265
Angola,87,86,106,105,161,95,135,162,166,143
Anguilla,18,27,35,37,47,29,26,38,30,26
Antigua-Barbuda,357,371,520,416,661,456,341,386,390,366
Argentina,1965,1976,2695,2348,4170,3153,3140,3870,3909,4177
Armenia,1793,1737,1605,1495,2195,2021,3168,3965,3285,3203
Aruba,30,39,44,36,55,37,27,40,27,42
Australia,1295,1155,1240,1067,1636,1392,1202,1291,1312,1296
Austria,277,307,359,292,357,303,277,271,241,248
Azerbaijan,793,904,997,606,834,1005,1233,1153,958,786
Bahamas,378,343,574,397,838,569,475,609,647,681
Bahrain,54,57,81,56,85,91,102,80,93,76
Bangladesh,5148,5503,6683,4746,5345,6644,6979,7325,8417,9571
Barbados,650,778,1006,718,1203,878,535,648,687,683
Belarus,1464,1549,1769,1401,1767,1583,1523,1814,1896,1797
Belgium,232,247,355,248,716,673,523,525,522,513
Belize,664,704,918,799,1291,854,556,742,817,966
Benin,42,56,64,61,79,119,127,183,210,206
Bermuda,47,58,72,42,75,80,65,58,65,59
Bhutan,3,6,NaN,10,9,17,50,55,42,275
...,...,...,...,...,...,...,...,...,...,...
Suriname,97,125,222,159,202,198,161,194,189,160
Swaziland,5,5,10,4,8,21,8,15,10,15
Sweden,1016,980,984,786,1207,940,774,872,798,783
Switzerland,487,541,539,501,658,529,484,427,427,452
Syria,2385,2252,2395,1799,2105,2484,2029,1981,1814,2196
Taiwan,7889,8295,8819,7486,8711,7606,5621,5065,4573,5255
Tajikistan,117,116,147,109,168,156,178,155,142,168
Tanzania,348,363,490,356,464,567,466,516,543,647
Thailand,3779,4314,4583,4438,6930,4962,4112,5299,6585,5544
Togo,204,291,536,473,673,1132,1253,1523,1448,1380
Tonga,207,246,235,251,421,269,208,251,306,371
Trinidad and Tobago,3958,4832,6612,4514,7305,5726,4740,5014,5596,5784
Tunisia,192,226,315,299,390,479,407,377,345,362
Turkey,1964,2231,2742,2009,2771,3219,3213,3100,3329,3390
Turkmenistan,58,59,75,58,99,91,138,146,136,160
Turks and Caicos Islands,16,21,30,14,33,21,20,36,49,47
Uganda,327,340,477,344,541,489,637,838,820,763
Ukraine,8069,9343,10184,8594,10992,9123,7345,8489,9459,8624
United Arab Emirates,168,197,277,253,328,383,404,425,431,499
United Kingdom,7785,8087,9104,7752,12095,10060,8401,9246,9145,9459
United States,36,29,57,41,67,51,45,45,60,55
Uruguay,412,475,579,496,924,634,585,751,849,933
Uzbekistan,1224,1588,1821,1148,1377,1513,1472,2463,3071,2482
Venezuela,2385,2659,4476,3575,6557,4735,5243,6856,7404,7648
Vietnam,27480,32926,29917,27921,39584,31168,19313,20922,23490,24277
Yemen,822,814,989,734,1080,1243,1186,1320,1452,1355
Zambia,180,159,239,212,290,289,317,337,338,352
Zimbabwe,225,260,322,312,413,489,546,715,691,658
Other,32,37,27,35,59,48,37,45,40,41
Unknown,1358,1270,880,648,1134,940,326,337,359,201

In [58]:
nate = nate.ix[0:-1]

In [57]:
dic = {}
for val in natl.index:
    if val in dic.iterkeys():
        dic[val] += 1
    else:
        dic[val] = 1
        
for key, val, in dic.iteritems():
    if val > 1:
        print key, val
        
for i, val in enumerate(natl.index):
    if val == 'Total':
        print i

0

In [60]:
nat_reg = pd.concat([nate, natl], axis=1)
nat_reg = nat_reg.transpose()

In [62]:
nat_reg

,Afghanistan,Africa,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua-Barbuda,Argentina,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1991,1394,10468,72,116,47,NaN,33,32,485,1869,...,400,0,NaN,750,30078,0,0,612,115,97
1992,1052,9731,92,103,47,NaN,39,24,375,1242,...,368,0,NaN,710,18422,0,0,528,67,96
1993,1548,11539,88,126,71,0,59,64,438,1602,...,581,0,0,798,22520,0,0,698,124,126
1994,1995,16073,109,183,103,0,98,88,627,2481,...,667,6,0,1078,29555,0,NaN,779,122,117
1995,2031,18495,103,188,122,0,68,57,668,2714,...,679,46,0,1009,31728,0,NaN,504,120,132
1996,4141,26970,348,275,148,NaN,122,41,1415,5457,...,1372,208,NaN,2533,51910,27,0,876,183,178
1997,1839,15996,419,173,38,0,91,64,886,2247,...,622,243,NaN,1205,36178,0,NaN,631,105,99
1998,1736,12467,351,143,63,NaN,73,86,932,1651,...,397,236,0,925,30185,0,0,259,90,79
1999,2752,20401,599,277,75,3,99,165,1103,3366,...,689,1142,NaN,2263,53316,0,NaN,512,168,174
2000,2843,25850,826,427,80,NaN,113,67,946,3432,...,693,3084,NaN,2426,55934,0,NaN,832,228,274
2001,1947,24312,1032,469,97,NaN,86,38,478,2211,...,472,2493,NaN,2107,41596,0,0,810,158,207
2002,1429,31527,2451,615,102,NaN,69,30,451,2131,...,486,2541,NaN,2159,36835,0,0,882,168,231
2003,1237,28568,2284,494,117,0,65,24,326,1880,...,352,1480,0,1959,25995,0,0,590,134,211
2004,1323,34531,3324,616,137,0,87,18,357,1965,...,412,1224,3,2385,27480,0,0,822,180,225
2004,1323,34531,3324,616,137,NaN,87,18,357,1965,...,412,1224,NaN,2385,27480,NaN,NaN,822,180,225
2005,1464,38830,3830,722,294,NaN,86,27,371,1976,...,475,1588,NaN,2659,32926,NaN,NaN,814,159,260
2006,2018,50397,3964,825,247,NaN,106,35,520,2695,...,579,1821,NaN,4476,29917,NaN,NaN,989,239,322
2007,2013,41652,2786,578,161,NaN,105,37,416,2348,...,496,1148,NaN,3575,27921,NaN,NaN,734,212,312
2008,2650,54418,2972,894,178,NaN,161,47,661,4170,...,924,1377,NaN,6557,39584,NaN,NaN,1080,290,413
2009,2588,60383,3483,1024,265,NaN,95,29,456,3153,...,634,1513,NaN,4735,31168,NaN,NaN,1243,289,489
2010,2230,64022,5088,808,232,NaN,135,26,341,3140,...,585,1472,NaN,5243,19313,NaN,NaN,1186,317,546
2011,1998,69738,4267,773,205,NaN,162,38,386,3870,...,751,2463,NaN,6856,20922,NaN,NaN,1320,337,715
2012,1758,74775,3615,891,180,NaN,166,30,390,3909,...,849,3071,NaN,7404,23490,NaN,NaN,1452,338,691
2013,2074,71872,3538,841,265,NaN,143,26,366,4177,...,933,2482,NaN,7648,24277,NaN,NaN,1355,352,658

In [64]:
nat_reg.to_csv('../../Data/naturalization_reg.csv')